<!-- start custom head snippets -->
{% if page.custom_js %}
    {% for js_file in page.custom_js %}
      <script type="text/javascript" src="{{ site.baseurl }}/assets/js/{{ js_file }}.js"></script>
    {% endfor %}
{% endif %}
{% if page.custom_wasm %}
    {% for file in page.custom_wasm %}
      <link rel='preload' src="{{ site.baseurl }}/assets/wasm/{{ file }}" as="fetch" type="application/wasm" crossorigin="" >
    {% endfor %}
{% endif %}
{% if page.custom_preload_module %}
    {% for file in page.custom_preload_module %}
      <link rel="modulepreload" src="{{ site.baseurl }}/assets/js/{{ file }}">
    {% endfor %}
{% endif %}
<!-- insert favicons. use https://realfavicongenerator.net/ -->


<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#144564">
<meta name="apple-mobile-web-app-title" content="zoomiti.net">
<meta name="application-name" content="zoomiti.net">
<meta name="msapplication-TileColor" content="#02314f">
<meta name="theme-color" content="#02314f">


<!-- end custom head snippets -->
